
@mixin font-Roboto{
	font-family: 'Roboto', sans-serif;
}


@mixin font-Montserrat-bold{
	font-family:'Montserrat', sans-serif;
	font-weight: bold;
}

@mixin search_input{
	display: block;
	width: 270px;
	line-height: 40px;
	@include font-Roboto;
	font-size: 14px;
	outline: none;
}



*{
	padding: 0;
	margin: 0;
}

	/* GLOBAL */

body{
	height: 3905px;
}

.wrapper{
	margin: 0 auto;
	padding-top: 20px;
	min-width: 320px;
}

	/* HEADER */

.header{
	width: 320px;
	height: 540px;
	background: url(../background/background1.png) top center no-repeat;
	background-size: cover;
	color: #ffffff;
}

.header__link{
	margin: 0 0 0 80px; 
}

.header__link__item{
	list-style-type: none;
	display: inline-block;
		a{
		@include font-Montserrat-bold;
		color: inherit;
		text-decoration: none;
		font-size: 14px;
		line-height: 35px;
		}
}

.header__link__item--2{
	border: 2px solid #ffffff;
	border-radius: 20px;
	padding: 0 17px 0 17px;
	margin: 0 0 0 17px;
}

.header__content{
	padding: 113px 0 0 0;
	text-align: center;
}

.header__content__item--1{
	@include font-Montserrat-bold;
	font-size: 20px;
	margin: 0 0 27px 0;
}

.header__content__item--2{
	@include font-Montserrat-bold;
	font-size: 30px;
	text-transform: uppercase;
	margin: 0 0 9px 0;
}

.header__content__item--3{
	@include font-Roboto;
	font-weight: 300;
	font-size: 18px;
	width: 220px;
	display: inline-block;
	margin: 0 0 14px 0;
}

.header__content__item--4{
	line-height: 40px;
	width: 280px;
	display: inline-block;
	background-color: #ff4e50;
	border-radius: 20px;
		a{
			@include font-Montserrat-bold;
			color: inherit;
			text-decoration: none;
			font-size: 14px;
		}
}

	/* SECTION "STEPS" */

.step-section{
	width: 320px;
	height: 820px;
	padding: 12px 10px 0 0; 
}

.section__header{
	margin: 0 0 10px 0;
	//width: 100%;
	@include font-Montserrat-bold;
	color: #333333;
	font-size: 22px;
	text-align: center;
}

.step-section__content__item{
	position: relative;
	height: 240px;
	margin: 0 0 10px 10px;
	color: #ffffff;
		h3{
			position: absolute;
			left: 20px;
			bottom: 150px;
			display: inline-block;
			width: 70px;
			line-height: 20px;
			background-color: #ff4e50;
			border-radius: 10px;
			font-family:'Montserrat', sans-serif;
			font-size: 10px;
			text-transform: uppercase;
			font-weight: 100;
			text-align: center;
			letter-spacing: 2px;
		}
		h2{
			position: absolute;
			left: 20px;
			bottom: 80px;
			@include font-Montserrat-bold;
			font-weight: 24px;
		}
		p{
			position: absolute;
			left: 20px;
			bottom: 20px;
			@include font-Roboto;
			font-weight: 100;
			font-size: 14px;
			line-height: 14px;

		}
}

.step-section__content__item--1{
	background: url(../background/step1_bg.jpg) no-repeat;
}

.step-section__content__item--2{
	background: url(../background/step2_bg.jpg) no-repeat;
		h3{
			bottom: 120px;
		}
		h2{
			bottom: 80px;
		}
}

.step-section__content__item--3{
	background: url(../background/step3_bg.jpg) no-repeat;
}

.partners-section{
	font-size: 13.97px;
	text-align: center;
	width: 320px;

}

.partners-section__content__item{
		text-align: center;
	.partner-photo{
		position: relative;
		display: inline-block;
		width: 120px;
		height: 120px;
		margin: 0 0 20px 0; 
		border-radius: 100%;
		cursor: pointer;
	}

	.interest-logo{
		position: absolute;
		width: 30px;
		height: 30px;
		left: 84px;
		top: 86px;
		border: 4px solid white;
		border-radius: 100%;
		background: url(../background/interest_sprite.png) no-repeat;
		
	}
}
.partners-section__content__item--1{
	.partner-photo{
		//margin: 20px 0 0 0; 
		background: url(../background/photo_partner_1.jpg);
	}

	.interest-logo{
		background-position: 4px 0px;
		background-color: #ff4e50;
	}
}

.partners-section__content__item--2{
	.partner-photo{
		background: url(../background/photo_partner_2.jpg);
	}

	.interest-logo{
		background-position: 4px -34px;
		background-color: #ffa507;
	}
}

.partners-section__content__item--3{
	.partner-photo{
		background: url(../background/photo_partner_3.jpg);
	}

	.interest-logo{
		background-position: 4px -66px;
		background-color: #1cd7ad;
	}
}


.partners-section__content__item--4{
	.partner-photo{
		background: url(../background/photo_partner_4.jpg);
	}

	.interest-logo{
		background-position: 4px -97px;
		background-color: #4e73db;
	}
}


.partner-name{
	margin: 0 0 20px 0; 
	@include font-Montserrat-bold;
	color: #333333;
	//width: 220px;
	text-align: center;
	cursor: pointer;
}

.partner-description{
	display: inline-block;
	width: 220px;
	margin: 0 0 20px 0; 
	@include font-Roboto;
	font-weight: 300;
	text-align: center;
}

.partner-section__link{
	display: inline-block;
	line-height: 35px;
	text-align: center;
	list-style-type: none;
	@include font-Montserrat-bold;
	color: #ff4e50;
	text-decoration: none;
	font-size: 14px;
	border: 2px solid #ff4e50;
	border-radius: 20px;
	padding: 0 73px 0 73px;
	margin: 30px 0 0 0px;
}


	/* IDEA SECTION  */

.idea-section__content__item{	
	width: 300px;
	height: 120px;
	margin: 10px;
	border-radius: 10px;
	//border: 1px solid green;
	text-align: center;
	overflow: hidden;
		span{
			@include font-Montserrat-bold;
			line-height: 120px;
			color: white;
		}
}

.idea-section__content__item--1{
	background: url(../background/idea_bg_1.jpg) no-repeat;
}

.idea-section__content__item--2{
	background: url(../background/idea_bg_2.jpg) no-repeat;
}

.idea-section__content__item--3{
	background: url(../background/idea_bg_3.jpg) no-repeat;
}

.idea-section__content__item--4{
	background: url(../background/idea_bg_4.jpg) no-repeat;
}

.idea-section__content__item--5{
	background: url(../background/idea_bg_5.jpg) no-repeat;
}

.idea-section__content__item--6{
	background: url(../background/idea_bg_6.jpg) no-repeat;
}

.idea-section__content__item--7{
	background: url(../background/idea_bg_7.jpg) no-repeat;
}

.idea-section-search-header{
	margin: 20px 20px 0 20px;
	@include font-Roboto;
	font-size: 17.95px;
	font-weight: 200;
	color: #333333;
}

#interests-search_field{
	margin: 20px 20px 0 20px;
	text-indent: 15px;
	@include search_input;
	color: #999999;
	border: 1px solid #999999;
	border-radius: 3px;
		
}

#interests-search_btn{
	margin: 20px 20px 40px 20px;
	@include search_input;
	background-color: #ff4e50;
	border: none;
	border-radius: 20px;
	color: white;
	cursor: pointer;
}

	/* FOOTER */

.footer-section{
	width: 100%;
	border-top: 4px solid #ff4e50;
}
.footer-section__header{
			margin: 20px 0 0 0; 
			text-align: center;
			color: #ff4e50;
			@include font-Montserrat-bold;
			font-size: 16px;
}


.footer-section__item{
	list-style-type: none;
	text-align: center;
		a{
			color: inherit;
			text-decoration: none;
		}
}

.footer-section__item--1,
.footer-section__item--6{
	margin: 20px 0 10px 0; 
	@include font-Montserrat-bold;
	color: #333333;
	font-size: 14px;
}
.footer-section__item--2{
	margin-left: 61px;
}
.footer-section__item--2,
.footer-section__item--3,
.footer-section__item--4,
.footer-section__item--5{
	display: inline-block;
	margin-right: 15px; 
	@include font-Roboto;
	color: #666666;
	font-size: 14px;
	font-weight: 300;

}

.copyright{
	text-align: center;
	@include font-Montserrat-bold;
	font-size: 10px;
	color: #cccccc;
		a{
			display: inline-block;
			width: 110px;
			height: 45px;
			background: url(../background/copyright_logo.png) center 20px no-repeat;
			color: inherit;
			text-decoration: none;
		}
}